<div class="container-layout">

  <div class="nav-bar">
    <div class="brand">
      {{ page.branding }}
    </div>

    <div class="nav">
      {{ page.primary_menu }}
    </div>
  </div>

  <div class="header">
    {{ page.header }}
    <div class="container">
      <div class="present">
        <h2>Hello, I am</h2>
        <h1>
          Andrei <br />
          Sandu
        </h1>
        <p>
          A young <span>UI/UX</span> designer with crazy for mobile & web
          design.
        </p>

        <div class="cta">
          <a class="cta-portfolio" href="#portfolio">Portfolio</a>
          <a class="cta-hire" href="#contact">Hire Me</a>
        </div>
      </div>
      <div class="present-img">
        <img src="web/themes/custom/portfolio/assets/images/desk-undraw.png" alt="desk" />
      </div>
    </div>
  </div>

  <main class="content">
    {{ page.content }}
  </main>

  <div class="footer-first">
    {{ page.footer_first }}
  </div>

  <div class="footer_second">
    {{ page.footer_second }}
  </div>

</div>
