{% import _self as menus %}

<div class="md:flex items-center">
  {{ menus.menu_links(items, attributes, 0) }}
  {{ menus.mobile_links(items, 0) }}
</div>


<!-- Macro for Menu -->
{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <div class="hidden xl:flex  items-center space-x-1">
      <ul{{ attributes.addClass("hidden md:flex items-center space-x-1") }}>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes.addClass("py-5 px-3 text-gray-300 hover:text-white uppercase") }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}

    </ul>
    </div>
    <div class="xl:hidden flex items-center">
      <button class="mobile-menu-button"><i class="fa-solid fa-bars text-white"></i></button>
    </div>

  {% endif %}
{% endmacro %}

<!-- Mobile menu -->
{% macro mobile_links(items, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <div class="mobile-menu bg-purple-700 hidden xl:hidden absolute z-10 left-0 top-0 w-[100vw] h-[100vh] flex justify-center align-center py-[30%]">
      <ul>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes.addClass("block py-4 text-2xl px-4 text-white hover:bg-gray-200") }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}

    </ul>
    <div class="absolute top-8 right-8">
      <button class="mobile-close-button"><i class="fa-solid fa-x text-white"></i></button>
    </div>
    </div>

  {% endif %}
{% endmacro %}

