<div class="container-layout">

  <div class="nav-bar">
      <div class="brand">
        {{ page.branding }}
      </div>

      <div class="nav">
        {{ page.primary_menu }}
      </div>
  </div>

  <div class="header">
    {{ page.header }}
  </div>

  <main class="content">
    {{ page.content }}
  </main>

  <div class="footer-first">
    {{ page.footer_first }}
  </div>

  <div class="footer_second">
    {{ page.footer_second }}
  </div>

</div>
