<div class="relative bg-white">

  <div class="nav-bar flex justify-between">
      <div class="brand w-1/2">
        {{ page.branding }}
      </div>

      <div class="nav w-1/2">
        {{ page.primary_menu }}
      </div>
  </div>

  <div class="header">
    {{ page.header }}
  </div>

  <main class="content">
  {{ page.content }}
  </main>

  <div class="footer-first">
    {{ page.footer_first }}
  </div>

  <div class="footer_second">
    {{ page.footer_second }}
  </div>

</div>
