<div class="min-w-full min-h-screen">

  <!-- navbar and branding -->
  <nav class="flex justify-between z-10 h-32 xs:px-16 lg:px-64 bg-transparent items-center">
    <div class="flex h-11 py-2 w-auto mr-1 items-center">
      {{ page.branding }}
    </div>

    <div>
      {{ page.primary_menu }}
    </div>
  </nav>
  {# Body #}
  <div class="main">

    <!-- Hero Section -->
    <section class="w-full h-[100vh] -mt-32 flex xs:p0 lg:p-64 justify-between align-center background-image">

      <!-- Leftside text -->
      <div class="flex my-16 items-center self-center">
        <div class="flex-col w-full h-full inline-block content-center px-5">
          <div class="align-super py-20">
            <h1 class="font-['Roboto'] text-4xl text-white">
              Hi I am Andrei Sandu
            </h1>
            <p class="font-['Roboto'] text-xl text-white mb-8">
              I love technology and love to learn as much as possible about it
            </p>
            <a class="font-['Roboto'] text-2xl text-white mt-6 p-2 border-2 rounded-md hover:bg-white hover:text-purple-700 transition" href="#about">
              Get Started
            </a>
          </div>
        </div>
      </div>
      <!-- Right-side image -->
      <div class="w-auto h-auto z-0 xs:hidden md:flex items-center">
          <img class="sm:h-[50%] xl:h-[100%] animate-vertical"
            src="themes/custom/portfolio/assets/images/hero-img.png"
            alt="desk_image" />
        </div>

    </section>

    <!-- About Section -->
    <section id="about" class="w-full xs:h-[80vh] lg:h-[80vh] flex xs:p0 lg:p-64 justify-between align-center bg-gray-200" id="about">
      <!-- Left-side text -->
      <div class="flex xs:my-8 my-16 items-center self-center">
        <div class="flex-col w-full h-full inline-block content-center px-5">
          <div class="align-super xs:pt-5 xs:pb-10 md:py-20">
            <h1 class="font-['Roboto'] xs:text-xl md:text-2xl text-purple-700">
              Hi, I'm Andrei. I am a passionate designer and developer of web and mobile apps
            </h1>
            <p class="font-['Roboto'] font-thin italic xs:text-lg md:text-xl text-gray-800 mb-8">
              I love to continuously learn and apply my skills into creating various type of projects.
            </p>
            <ul class="list-none">
              <li class="flex items-center">
                <div class="my-2 mx-2 text-xs italic">
                <i class="fa-solid fa-circle-check text-purple-700"></i>
                </div>
                <div class="xs:text-xs md:text-lg italic font-thin">Web development fascinates me. Keep wondering what is the next cool thing.</div>
              </li>
              <li class="flex items-center">
                <div class="my-2 mx-2 text-xs italic">
                <i class="fa-solid fa-circle-check text-purple-700"></i>
                 </div>
                <div class="xs:text-xs md:text-lg italic font-thin">Android development field is another intriguing field.</div></li>
              <li class="flex items-center">
                <div class="my-2 mx-2 text-xs italic">
                  <i class="fa-solid fa-circle-check text-purple-700"></i>
                </div>
                <div class="xs:text-xs md:text-lg italic font-thin">However it all comes together when cyber-security is included in the development process.</div>
              </li>
              <li class="flex items-center">
                <div class="my-2 mx-2 text-xs italic">
                  <i class="fa-solid fa-circle-check text-purple-700"></i>
                </div>
                <div class="xs:text-xs md:text-lg italic font-thin">I write about what I do and what I find interesting.</div>
              </li>
            </ul>
            <div class="mt-8">
            <a class="font-['Roboto'] text-xl text-purple-700 p-2 border-2 border-purple-700 rounded-md hover:bg-purple-700 hover:text-white transition" href="#about">
              Read More ...
            </a></div>
          </div>
        </div>
        <!-- Right-side image -->

      <div class="w-auto h-auto z-0 xs:hidden md:block">
        <img class="sm:h-[50%]"
               src="themes/custom/portfolio/assets/images/about.jpeg"
               alt="team_img" />
        </div>
      </div>
    </section>

    <!-- Counts Section -->
    <section class="w-full xs:h-[20vh] lg:h-[20vh] flex xs:p0 justify-center align-center background-image">

      <div class="flex flex-col my-auto items-center">
        <div id="counts" class="sm:text-xl lg:text-4xl text-white p-3 purecounter" data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1">0</div>
        <p class="text-white xs:text-lg lg:text-2xl uppercase">projects</p>
      </div>
    </section>
    <!-- Skills Section -->
    <section id="skills" class="w-full xs:min-h-[70vh] md:h-[100vh] lg:h-[70vh] flex flex-col xs:p0 lg:p-6 justify-center align-center bg-gray-200">
      <div class="h-8 uppercase text-2xl align-center my-3 text-gray-800">Skills</div>
      {{ page.skills }}


    </section>
    <!-- Portfolio Section -->
    <section id="portfolio" class="w-full h-[50vh] mx-auto my-5 lg:flex flex-col justify-center items-center xs:hidden">
      <h1 class="uppercase text-2xl my-5">Portfolio workout routine</h1>
      <div class="calendar drop-shadow"></div>
    </section>
    <!-- Contact Section -->
    <section id="contact" class="w-full xs:min-h-[50vh] md:h-[100vh] lg:h-[80vh] my-10 flex justify-center align-center bg-gray-200">
      <div class="w-[60%] min-h-[50vh] flex flex-col">
        <h1 class="h-8 uppercase text-2xl align-center mb-3 text-gray-800">Contact</h1>
        <p class="text-gray-700 align-center text-lg font-thin">You can get in touch through all social media mediums as well as email and discord channel.</p>
        <div class="grid grid-cols1 md:grid-cols-2 lg:grid-cols-3 gap-8 my-8 justify-items-center">
          <div class="w-64 h-64 cols-1 shadow transition ease-in-out hover:shadow-purple-500 rounded-md items-center flex flex-col justify-center">
            <i class="fa-solid fa-location-dot text-purple-700 text-8xl"></i>
            <h1 class="font-bold my-3 text-gray-800 text-2xl">My City</h1>
            <p class="font-thin text-gray-700 text-xl">Bloxwich, Walsall</p>
          </div>
          <div class="w-64 h-64 cols-1 shadow transition ease-in-out hover:shadow-purple-500 rounded-md items-center flex flex-col justify-center">
            <i class="fa-regular fa-envelope text-purple-700 text-8xl"></i>
            <h1 class="font-bold my-3 text-gray-800 text-2xl">E-mail Me</h1>
            <p class="font-thin text-gray-700 text-xl">contact@andreisandu.net</p>
          </div>
          <div class="w-64 h-64 cols-1 shadow transition ease-in-out hover:shadow-purple-500 rounded-md  items-center flex flex-col justify-center">
            <i class="fa-brands fa-discord text-purple-700 text-8xl"></i>
            <h1 class="font-bold my-3 text-gray-800 text-2xl">DM Me</h1>
            <p class="font-thin text-gray-700 text-xl">Ch1llZone#1949</p>
          </div>
        </div>
        <iframe class="mb-4 mb-lg-0 shadow" src="//www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38759.79792579316!2d-2.035990137084371!3d52.61503628695424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48709f146ea9f321%3A0x5b6a7b60dc7ae2ef!2sBloxwich%2C%20Walsall!5e0!3m2!1sro!2suk!4v1635940855584!5m2!1sro!2suk" frameborder="0" style="border: 0; width: 100%; height: 384px" allowfullscreen=""></iframe>
      </div>
    </section>
    <!-- FooterBottom Section -->
    <section class="h-[5vh] -mb-[79px] min-w-full bg-purple-800 flex items-center justify-between text-gray-200 font-thin italic">
      <div class="ml-[10%]">
      {{ page.footer_second }}
      </div>
      <div class="mr-[10%]">
      {{ page.socialmediablock }}
      </div>
    </section>
    <a href="#" class="back-to-top w-12 h-12 rounded-xl shadow-xl flex align-right justify-center items-center sticky bottom-2 right-2 bg-blue-600 transition-all ease-in-out hover:bg-blue-400 hidden"><i class="fa-sharp fa-solid fa-arrow-up w-auto h-auto text-2xl text-white"></i></a>

  </div>
</div>
